/* Custom Gongo font */
@font-face {
    font-family: gongobold;
    src: url('../fonts/gongo_bold-webfont.eot');
    src: url('../fonts/gongo_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gongo_bold-webfont.woff') format('woff'),
         url('../fonts/gongo_bold-webfont.ttf') format('truetype'),
         url('../fonts/gongo_bold-webfont.svg#gongobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Navigation Bar */
nav {
	position: fixed;
}

#logo-font{
	font-family: gongobold,sans-serif;
	font-size:30px;
	color: #000000;
}

#right-nav {
	float: center;
}

#sign-up-btn{
	background-color:#FF9D03;
	width: 90px;
	height:50px;
	color:#FFFFFF;
	text-align: center;
}

#bs-example-navbar-collapse-1, #right-nav{
	font-family: gongobold, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}

/* Main Page CSS */
#main-page{
	display: inline-block;
}

.jumbotron {
  height:850px;
  background-image: url(../images/raw-meat_139.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 750px;
  padding-right: 150px;
  margin-top:-40px;
}

.jumbotron h1{
	font-family: gongobold,sans-serif;
	font-size:350px;
	opacity: 0.4;
	color: #FFFFFF;
	line-height: 0.7;
}

.jumbotron h2{
	font-family: gongobold,sans-serif;
	font-size:60px;
	color: #FFFFFF;
	line-height: 80px;
}

.jumbotron p{
	font-family: sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

#join-coop{
	background-color:#FF9D03;
	width: 220px;
	height:50px;
	font-family: 'gongobold';
	font-weight: bold;
	font-size: 24px;
	color:#FFFFFF;
	text-align: center;
	padding-top: 10px;
}

/* About Page */
.about{
	height:400px;
	background-color:#E3E3D7;
	padding: 50px 200px 100px 200px;
	margin-top:-40px;
}

h3{
	font-family: gongobold,sans-serif;
	font-size:40px;
	color: #000000;
}

.about p{
	font-family: sans-serif;
	font-size: 18px;
	color: #000000;
}

footer{
	height:	40px;
	background-color: #000000;
	color:#FFFFFF;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: -10px;
}
#footer-left {
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;
}

#footer-right {
	float: right;
	display: inline-block;
	margin: 10px 20px 0px 0px;

}
